{% extends "base_container.html" %}

{% block page_title %}
<h1>One job, one best tool</h1>
<p>
    <em><b>Programming tool</b> - usually refers to relatively simple programs, that can be combined together to accomplish a task, much as one might use multiple hand tools to fix a physical object</em>
<a href="https://en.wikipedia.org/wiki/Programming_tool">Wikipedia</a>
</p>
{% endblock %}

{% block page_writing %}
<p>Some software tools are better than others, and it is virtually impossible for two things to be identical in value. Therefore, at any distinct point in time, with proper granularity, there is exactly one right software tool per task. If there seem to be many ideal tools, this stems from:</p>

<ol>
    <li>Subject matter ignorance</li>
    <li>Broad, non-specific requirements</li>
    <li>Enterprise integrations for organizations systemically suffering from 1 and 2</li>
</ol>

<p>As a software journeyman, your goal is to minimize subject matter ignorance and clarify requirements. This usually results in an epic quest for a suite of perfect tools. If you are working on enterprise integrations, reference <a href="{{ url_for('error.posts')}}">human error</a> for tips on surviving the folly of man.</p>

<p>Posts in this section are dedicated to one specific job and its best corresponding tool.</p>

<h2>Posts</h2>
{% endblock %}

{% block page_table %}
<thead>
    <tr>
        <th>Task</th>
        <th>Tool</th>
        <th>Title</th>
        <th>Date</th>
    </tr>
</thead>
<tbody>
{% for post in posts %}
    <tr>
        <td><a href="{{ url_for('tools.post', name=post.path.replace('tools/', '')) }}">
            {{ post.task }}</a></td>
        <td>{{ post.tool }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.date }}</td>
    <tr/>
{% endfor %}
</tbody>
{% endblock %}
