# Python virtual environment
venv/

# Compiled python
*.pyc

# Swap files from vim
*.swp

# Bulid directory
build/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
