body {
    font-family: "Georgia", "Times New Roman", "Times";
}

h1 {
    color: #F26518;
}

h2 {
    color: black;
}

p {
    font-size: 16px;
}

ol {
    font-size: 16px;
}

ul {
    font-size: 16px;
}
