{% extends "base_container.html" %}

{% block page_title %}
<h1>Human error</h1>
<p>
    <em><b>Human error</b> - cited as a primary cause or contributing factor in disasters and accidents</em>
<a href="https://en.wikipedia.org/wiki/Human_error">Wikipedia</a>
</p>
{% endblock %}

{% block page_writing %}
<p>The most common bugs have nothing to do with software. Their solution often involves deep breathing and patience. Here I document the most human of errors.</p>
<h2>Posts</h2>
{% endblock %}

{% block page_table %}
<thead>
    <tr>
        <th>Title</th>
        <th>Date</th>
    </tr>
</thead>
<tbody>
{% for post in posts %}
    <tr>
        <td><a href="{{ url_for('error.post', name=post.path.replace('error/', '')) }}">
            {{ post.title }}</a></td>
        <td>{{ post.date }}</td>
    <tr/>
{% endfor %}
</tbody>
{% endblock %}
