{% extends "base.html" %}
{% block page_content %}

<h1>Journeyman's Inn-dex</h1>

<h3><em>Journeyman</em></h3>
<p><em>an individual who has completed an apprenticeship and is fully educated in a trade or craft, but not yet a master.</em>
    <a href="https://en.wikipedia.org/wiki/Journeyman">Wikipedia</a></p>

<p>Come inside, traveler. Sheath your <a href="https://en.wikipedia.org/wiki/Membrane_keyboard">membrane keyboard</a>, meditate upon your <a href="https://en.wikipedia.org/wiki/Software_bloat">bloated operating system</a>, rest your weary fingertips, and absorb this curation.</p>

<ol>
    <li>Some jobs have one right tool</li>
    <li>Bugs are inevitable</li>
    <li>People are harder than computers</li>
</ol>

{% endblock page_content %}
