{% extends "base_container.html" %}

{% block page_title %}
<h1>Software Journeyman</h1>
<p>
    <em><b>Journeyman</b> - an individual who has completed an apprenticeship and is fully educated in a trade or craft, but not yet a master.</em>
<a href="https://en.wikipedia.org/wiki/Journeyman">Wikipedia</a>
</p>
{% endblock %}

{% block page_writing %}
<h2>Preamble</h2>
<p>Come inside, traveler. Put your <a href="https://en.wikipedia.org/wiki/Membrane_keyboard">membrane keyboard</a> out to pasture, meditate upon your <a href="https://en.wikipedia.org/wiki/Software_bloat">bloated operating system</a>, and rest your weary fingertips. When using community-driven software, you are always among friends.

<h2>Why this blog?</h2>
<p>Community-driven software is both flexible and diverse in its offerings. These traits cause novice programmers to struggle with tool selection, comprehension, and usage.</p>
<h3>Core questions</h3>
<ol>
    <li>Given the sheer number of options, is there a "best" tool?</li>
    <li>When a suitable tool is found, what are its quirks?</li>
    <li>Once the best tool's quirks are ironed, how do I handle my team's quirks?</li>
</ol>
<p>This blog exists mostly to answer the first question. Since my target audience is the early journeyman, I will treat my subject matter as "black and white" as possible. There are nuances to my tool selection, but discussing them here may confuse the reader. I will have tried many tools before settling on ones in the list, and will avoid writing about tools I do not understand. The second topic exists so others can avoid bugs I spend hours finding. The third gives me the opportunity to write about working with people. This may not see too much action, but it's there in case I get the urge.</p>
{% endblock %}
